body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nn_background {
    fill: none;
    pointer-events: all;
    stroke: black;
    stroke-width: 2;
}

.nn_node {
    fill: black;
    pointer-events: all;
}

.selected {
    stroke: green;
    stroke-width: 4;
}
