doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://d3js.org/d3.v5.min.js")
    script(type="text/javascript" src="javascripts/neuralNetwork.js")
    script(type="text/javascript" src="javascripts/neuralNetworkView.js")

    title= title
    script.
        function start() {
            load_json();
        }
        
        function load_json() {
            // From https://stackoverflow.com/questions/14388452/how-do-i-load-a-json-object-from-a-file-with-ajax
            function fetchJSONFile(path, callback) {
                var httpRequest = new XMLHttpRequest();
                httpRequest.onreadystatechange = function() {
                    console.log("httpRequest.readyState: " + httpRequest.readyState);
                    console.log("httpRequest.status: " + httpRequest.status);
                    if (httpRequest.readyState === 4) {
                        if (httpRequest.status === 200) {
                            var data = JSON.parse(httpRequest.responseText);
                            if (callback) callback(data);
                        }
                    }
                };
                httpRequest.open('GET', path);
                httpRequest.send(); 
            }
        
            // This requests the file and executes a callback with the parsed result once
            //   it is available
            fetchJSONFile('https://s3.amazonaws.com/pporfilio/nn/test_json.json', 
                function(data){
                    populate(data)
                }
            );
        }
        
        function populate(data) {
            var nn = new NeuralNetwork(data);
            initialize_d3(nn);
        }
        
        function initialize_d3(neuralNetwork) {
            var bodySel = d3.select("body");
            var nnView = new NeuralNetworkView(neuralNetwork, bodySel);
        }

  body(onload="start()")
    
